# User data
PRIVATE_KEY="0x1234567890123456789012345678901234567890123456789012345678901234"

# API keys
FLARE_RPC_API_KEY=""
VERIFIER_API_KEY_MAINNET="00000000-0000-0000-0000-000000000000"
VERIFIER_API_KEY_TESTNET="00000000-0000-0000-0000-000000000000"

X_API_KEY="00000000-0000-0000-0000-000000000000"

FLARESCAN_API_KEY="IrrelevantJustNeedsToBeNonempty"
FLARE_EXPLORER_API_KEY="IrrelevantJustNeedsToBeNonempty"

# Verifiers
VERIFIER_URL_TESTNET=https://fdc-verifiers-testnet.flare.network/
VERIFIER_URL_MAINNET=https://fdc-verifiers-mainnet.flare.network/
JQ_VERIFIER_URL_TESTNET=https://jq-verifier-test.flare.rocks/
WEB2JSON_VERIFIER_URL_TESTNET=https://web2json-verifier-test.flare.rocks/

# DALayer
COSTON_DA_LAYER_URL="https://ctn-data-availability.flare.network/"
COSTON2_DA_LAYER_URL="https://ctn2-data-availability.flare.network/"
FLARE_DA_LAYER_URL="https://sgb-data-availability.flare.network/"
SONGBIRD_DA_LAYER_URL="https://flr-data-availability.flare.network/"

# RPC urls
COSTON_RPC_URL="https://coston-api.flare.network/ext/C/rpc?x-apikey="
COSTON2_RPC_URL="https://coston2-api.flare.network/ext/C/rpc?x-apikey="
SONGBIRD_RPC_URL="https://songbird-api.flare.network/ext/C/rpc?x-apikey="
FLARE_RPC_URL="https://flare-api.flare.network/ext/C/rpc?x-apikey="

# Flarescan
COSTON_FLARESCAN_API="https://api.routescan.io/v2/network/testnet/evm/16/etherscan/api"
COSTON2_FLARESCAN_API="https://api.routescan.io/v2/network/testnet/evm/114/etherscan/api"
SONGBIRD_FLARESCAN_API="https://api.routescan.io/v2/network/mainnet/evm/19/etherscan/api"
FLARE_FLARESCAN_API="https://api.routescan.io/v2/network/mainnet/evm/14/etherscan/api"

# WebSocket urls
COSTON_WEBSOCKET_URL="wss://coston-api.flare.network/ext/C/ws"
COSTON2_WEBSOCKET_URL="wss://coston2-api.flare.network/ext/C/ws"
SONGBIRD_WEBSOCKET_URL="wss://songbird-api.flare.network/ext/C/ws"
FLARE_WEBSOCKET_URL="wss://flare-api.flare.network/ext/C/ws"

# Weather Insurance
OPEN_WEATHER_API_KEY=""

# Tenderly
TENDERLY_USERNAME="your_tenderly_username"
TENDERLY_PROJECT_SLUG="your_project_slug"
