{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.sol"],
      "options": {
        "parser": "solidity-parse",
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true
      }
    }
  ]
}
