# EVM Variables
# By default, the examples support both mnemonic-based and private key-based authentication
# You don't need to set both of these values, just pick the one that you prefer and set that one
MNEMONIC=
# Private key for EVM contract owner/delegate
PRIVATE_KEY=

# Flare Variables
RPC_URL_FLARE=
RPC_URL_SEPOLIA=
# Solana Variables
SOLANA_PRIVATE_KEY=
SOLANA_KEYPAIR_PATH=
# By default, the Solana example will use the default cluster RPC URL if no other value is provided
RPC_URL_SOLANA=
RPC_URL_SOLANA_TESTNET=

# Existing Deployed OFT Contracts
SEPOLIA_FXRP_OFT=0x81672c5d42F3573aD95A0bdfBE824FaaC547d4E6
COSTON2_OFT_ADAPTER=0xCd3d2127935Ae82Af54Fc31cCD9D3440dbF46639

# Composer
COSTON2_COMPOSER=0xf57b1a7b5DF2828b35a2fFa3A46E411f85c422C8

# FAsset Addresses on Coston2
COSTON2_FTESTXRP_TOKEN=0x8b4abA9C4BD7DD961659b02129beE20c6286e17F
COSTON2_FTESTXRP_ASSET_MANAGER=0xc1Ca88b937d0b528842F95d5731ffB586f4fbDFA

# LayerZero Endpoint IDs
SEPOLIA_EID=40161
COSTON2_EID=40125